main {
  div {
    div {
      .card {
        @include caja_principal;
        div {
          .card-title {
            color: map-get($colors, blancoCincuentaTransparencia) !important;
          }
          form {
            .form-control {
              color: #212529 !important;
              background-color: map-get($colors, blancoCincuentaTransparencia);
              border: $boderFino;
            }
            div {
              .btn {
                border-radius: 2rem;
                &:hover {
                  box-shadow: 0 0.3rem 1rem
                    map-get($colors, negroTreintaTransparencia);
                  background-color: map-get($colors, negroCincuentaTransparencia);
                }
                &:active {
                  background-color: map-get($colors, negro) !important;
                }
              }
            }
          }
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
