main {
  height: 84vh;
  div {
    div {
      .cajaConBlur {
        @include caja_principal;
        div {
          h2 {
            font-size: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
          }
          div {
            padding-left: 2rem;
            padding-right: 2rem;
          }
        }
      }
    }
  }
}