main {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  div {
    .galeria {
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include caja_principal;
      div {
        div {
          div {
            @include caja_principal;
          }
        }
      }
    }
  }
}
