/*
----------------
---- FUENTE ----
----------------
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
-----------------------
---- RESET GENERAL ----
-----------------------
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important; 
    list-style: none !important;
    font-family: 'Montserrat', sans-serif !important;
    color:#fff !important;
}
/*
-----------------------------------
---- IMAGEN DE FONDO DE PAGINA ----
-----------------------------------
*/
body {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/fondo.jpg");
    background-size: cover;
}
/*
-------------------------------
---- SEPARACION ITEMS MENU ----
-------------------------------
*/
header div nav div div ul li{
    padding: 0rem 6rem!important;
}
/*
-------------------------------
---- TAMAÑO LETRAS FOOTER ----
-------------------------------
*/
footer div div p {
    font-size: 0.75rem;
    margin: 0rem;
}
/*
-----------------------------------
---- PROPORCION PARTES DE BODY ----
-----------------------------------
*/
#header {
    height: 10vh;
}
#main {
    height: 80vh;
}
#footer {
    height: 10vh;
}
/*
------------------------------
---- MODIFICACION GALERIA ----
------------------------------
*/
.carousel {
    padding: 1rem;
}
/*
-------------------------------
---- MODIFICACION CIRCUITO ----
-------------------------------
*/
.imagen_circuito {
    padding: 0.2rem;
}
.imagen_circuito_mapa {
    padding: 1rem;
}
/*
---------------------------------
---- MODIFICACION FORMULARIO ----
---------------------------------
*/
.form-control {
    width: 100%;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #888888;
    --bs-btn-disabled-border-color: #888888;
}
.btn {
    --bs-btn-padding-x: 3rem;
    --bs-btn-padding-y: 0.5rem;
}
/*
---------------------------------------
---- MODIFICACION BARRA NAVEGACION ----
---------------------------------------
*/
.navbar-toggler {
    background-color:#fff;
}
.show {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}
/*
----------------------
---- MEDIA QUERIES----
----------------------
*/
@media (max-witdh:768px) {
    #footer {
        flex-wrap: wrap;
    }
}
/*
------------------------
---- FIN ARCHIVO CSS----
------------------------
*/