main {
    height: 84vh;
    div{
        div{
            .card{
                padding: 5rem 2.5rem;

                background-color: rgba(0, 0, 0, 0.1);
                //backdrop-filter: blur(1rem); //EL FILTRO DE BLUR PARA EL DONDO DE LAS TARJETAS NO LO ESTARIA TOMANDO EN LA CLASE DE LA TARJETA
                //-webkit-backdrop-filter: blur(1rem); //TAMPOCO FUNCIONO
                box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

                border-radius: 1rem;
                border: 2px solid transparent;
                border-top-color: rgba(225,225,225,0.5);
                border-left-color: rgba(225,225,225,0.5);
                border-bottom-color: rgba(225,225,225,0.1);
                border-right-color: rgba(225,225,225,0.1);

                div{
                    .card-title{
                        color: rgba(225,225,225,0.50) !important;
                        z-index: -1 !important;
                    }
                    div{
                        form{
                            .form-control{
                                width: 100%;
                                color: #212529 !important;
                                background-color: rgba(255, 255, 255, 0.5);
                                border: 1px solid transparent;
                            }
                            div{
                                .btn{
                                    border-radius: 2rem;
                                    &:hover{
                                        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
                                        background-color: rgba(0, 0, 0, 0.50);
                                    }
                                    &:active{
                                        background-color: black !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}