.slideshow {
  list-style-type: none;
}

//------- SLIDESHOW -------//
.slideshow,
.slideshow:after {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  z-index: 0;
}

.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 54s linear infinite 0s;
}

//------- FONDOS -------//
.slideshow li:nth-child(1) span {
  background-image: url("../assets/images/fondos/fondo1.webp");
}
.slideshow li:nth-child(2) span {
  background-image: url("../assets/images/fondos/fondo2.webp");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("../assets/images/fondos/fondo3.webp");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("../assets/images/fondos/fondo4.webp");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("../assets/images/fondos/fondo5.webp");
  animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
  background-image: url("../assets/images/fondos/fondo6.webp");
  animation-delay: 30s;
}
.slideshow li:nth-child(7) span {
  background-image: url("../assets/images/fondos/fondo7.webp");
  animation-delay: 36s;
}
.slideshow li:nth-child(8) span {
  background-image: url("../assets/images/fondos/fondo8.webp");
  animation-delay: 42s;
}
.slideshow li:nth-child(9) span {
  background-image: url("../assets/images/fondos/fondo9.webp");
  animation-delay: 48s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}
